body { /* TODO: Add min size for the game */
    background-color: rgb(179, 47, 150);
    margin: 0.2em;

}

#gamefield { /* Gamefield has to be always big enough to fit 16x16 Tiles inside */
    background-color: rgb(255, 187, 103);

    max-width: calc(42px*16);

    display: grid;
    grid-template-columns: repeat(16,auto);

    grid-gap: 0.1em;

    /* position of gamefield in center of screen */
    /* transform: translateX(50%); */

}

#gamefield > div {
    background-color: rgba(0, 4, 255, 0.8);
    padding: 20px 0;
    
  }
