body {
    background-color: rgb(0, 0, 0);
    margin: 0.2em;
}

#gamefield { /* Gamefield has to be always big enough to fit 16x16 Tiles inside */
    background-color: rgb(255, 187, 103);
    width: 5em;
    height: 100%;
    margin: 0.5em; /* equal to 4px */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
}

.tile {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 128);
    margin: 0.1em;
    display: flex;
}
